<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book your conference room</title>
</head>
<style>
    footer {
        text-align: center;
        padding: 3px;
        background-color: lightskyblue;
        color: white;
    }
</style>

<body>
<p>
    <a href="{% url 'conference_room:index' %}">Main page</a> -
    <a href="{% url 'conference_room:add-room' %}">Add room</a>
</p>

{% block content %}

<ul>
    {% for room in rooms %}
    <li> <a href="{% url 'conference_room:room-detail' room.id %}">
        {{ room.name }}</a>, {{ room.capacity }} seats /
        Projector: {% if room.projector == 1 %} Yes
        {% else %} No
        {% endif %} /
        tu bedzie info o dostępności
        <a href="{% url 'conference_room:edit-room' room.id %}"><button>
            Edit</button></a>
        <a href="{% url 'conference_room:delete-room' room.id %}"><button>
            Delete</button></a>
        tu bedzie button (/room/reserve/{id})</li>
    {% empty %}
    There is no room yet.
    {% endfor %}
</ul>

{% endblock content %}

<footer>
    <p>Author: Adam Kropiewnicki</p>
    <p><a href="mailto:akropiewnicki@gmail.com">akropiewnicki@gmail.com</a></p>
</footer>

</body>
</html>
