<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book your conference room</title>
</head>
<style>
    footer {
        text-align: center;
        padding: 3px;
        background-color: lightskyblue;
        color: white;
    }
</style>

<body>
<p>
    <a href="{% url 'conference_room:index' %}">Main page</a> -
    <a href="{% url 'conference_room:add-room' %}">Add room</a>
</p>

{% block content %}

{% endblock content %}

<footer>
    <p>Author: Adam Kropiewnicki</p>
    <p><a href="mailto:akropiewnicki@gmail.com">akropiewnicki@gmail.com</a></p>
</footer>

</body>
</html>
