{% extends "base.html" %}

{% block content %}

<p>
<form action="" method="get">
    <h4>Search by:</h4>
    <input name="name" type="text" placeholder="Name..."><br>
    <input name="min_capacity" type="text" placeholder="Min capacity...">
    <p>Projector: <input name="projector" type="checkbox"></p>
    <p><input type="submit" value="Search"></p>
</form>
</p>

{% if request.GET %}

<h2>Search Results</h2>

<ol>
  {% for room in rooms %}
  <li><a href="{% url 'conference_room:room-detail' room.id %}">
      {{ room.name }} {{ room.capacity }}
      {% if room.projector == 1 %}
      with projector
      {% else %}
      without projector
      {% endif %}</a></li>
  {% empty %}
  Nothing to looking for...
  {% endfor %}
{% endif %}
</ol>

{% endblock content %}
